<section class="feature">
  <% if (typeof data.goals !== 'undefined' && data.goals.length > 0) { %>
  <% const overviewPath = `${config.baseDir}/src/layout/overview/index.ejs`; %>
  <!-- Include Overview -->
  <%- include(overviewPath, {
      config,
      data
    }) %>
  <% } %>

  <!-- Component Area -->
  <div class="component">
    <div class="parallax parallax--basic parallax--basic01">
      <div class="parallax-wrap">
        <div class="parallax-text">
          <div class="parallax-text__header">
            <h3 class="parallax-eyebrow" id="spo2">
              <%- data.title %>
            </h3>
            <p class="parallax-headline">
              <%- data.headline %>
            </p>
          </div>
          <p class="parallax-description">
            <%- data.description %>
          </p>
        </div>
        <div class="interactive-line"></div>
        <div class="parallax-image">
          <div class="parallax-image__inner">
            <img src="<%= config.blankSrc %>" class="js-lazy-img js-res-img" data-src-pc="/assets/images/scroll-parallax/<%= data.imageSrc %>" alt="<%= data.imageAlt %>" />
          </div>
        </div>
        <div class="interactive-line line-100 blue"></div>
      </div>
    </div>
  </div>
</section>
