<section class="feature">
  <% if (typeof data.goals !== 'undefined' && data.goals.length > 0) { %>
  <% const overviewPath = `${config.baseDir}/src/layout/overview/index.ejs`; %>
  <!-- Include Overview -->
  <%- include(overviewPath, {
      config,
      data
    }) %>
  <% } %>

  <!-- Component Area -->
  <div class="component">
    <div class="tab tab--basic">
      <!-- Tab links -->
      <% if (typeof data.items !== 'undefined' && data.items.length > 0) { %>
      <div class="tab-list">
        <% data.items.forEach(item => { %>
        <button class="tab-item"><%- item.title %></button>
        <% }) %>
      </div>
      <!-- Tab content -->
      <% data.items.forEach(item => { %>
      <div id="<%- item.title.toLowerCase() %>" class="tab-content">
        <h3><%- item.title %></h3>
        <p><%- item.description %></p>
      </div>
      <% }) %>
      <% } %>
    </div>
  </div>
</section>
