<nav id="sidebar" class="sidebar">
  <div class="sidebar-dimmed"></div>
  <div class="sidebar-container">
    <div class="sidebar-wrapper">
      <div class="sidebar-header">
        <a href="/public/" class="sidebar-header__link">INTERACTIVE</a>
      </div>
      <hr class="sidebar-separate" />
      <div class="sidebar-content">
        <div class="menu" style="display: block;">
          <ul class="menu-list">
            <% const data = root.contents %>
            <% data.forEach(menu => { %>
            <% if (typeof menu.contents !== 'undefined' && menu.contents.length > 0) { %>
            <li class="menu-item menu-expanded">
              <a href="javascript:void(0);" class="menu-link">
                <svg class="menu-link__icon">
                  <use xlink:href="/assets/images/icon-sprite.svg#icon-<%= menu.id %>" />
                </svg>
                <span class="menu-link__title">
                  <%- menu.title %>
                  <svg class="menu-link__title-arrow">
                    <use xlink:href="/assets/images/icon-sprite.svg#icon-angle-right" />
                  </svg>
                </span>
              </a>
              <div class="sub-menu">
                <div class="sub-menu-container">
                  <div class="sub-menu-wrapper">
                    <ul class="sub-menu-list">
                      <% menu.contents.forEach(subMenu => { %>
                      <% if (typeof subMenu.contents !== 'undefined' && subMenu.contents.length > 0) { %>
                      <li class="sub-menu-title">
                        <a href="<%= subMenu.path %>/index.html" class="sub-menu-link"><%= subMenu.title %></a>
                      </li>
                      <% subMenu.contents.forEach(subMenuItem => { %>
                      <li class="sub-menu-item">
                        <a href="<%= subMenuItem.path %>/index.html" class="sub-menu-link"><%= subMenuItem.title %></a>
                      </li>
                      <% }) %>
                      <% } else { %>
                      <li class="sub-menu-item">
                        <a href="<%= subMenu.path %>/index.html" class="sub-menu-link"><%= subMenu.title %></a>
                      </li>
                      <% } %>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <% } else { %>
            <li class="menu-item menu-item__basic">
              <a href="<%= menu.path %>/index.html" class="menu-link">
                <svg class="menu-link__icon">
                  <use xlink:href="/assets/images/icon-sprite.svg#icon-<%= menu.id %>" />
                </svg>
                <span class="menu-link__title"><%- menu.title %></span>
              </a>
            </li>
            <% } %>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
