<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= data.name %></title>

  <link rel="stylesheet" href="/common/css/common.css" />
  <% if (typeof data.contents !== 'undefined' && data.contents.length > 0) { %>
  <% for( let index = 0; index < data.contents.length; index++ ) { %>
  <% const scriptPath = `./${data.contents[index].id}/main.css` %>
  <link rel="stylesheet" href="<%= scriptPath %>" />
  <% } %>
  <% } else { %>
  <link rel="stylesheet" href="./main.css" />
  <% } %>
</head>

<body>
  <div id="root">
    <%- include(`./layout/interface/index.ejs`, {
      config,
      data
    }) %>
    <%- include(`./layout/sidebar/index.ejs`, { root }) %>
    <div class="interactive">
      <header class="header">
        <h1 class="header-title"><%= data.name %></h1>
      </header>
      <%- include(`./pages${data.path}/index.ejs`, {
        config,
        data
      }) %>
      <footer class="footer"></footer>
    </div>
  </div>

  <script src="/common/js/common.js"></script>
  <% if (typeof data.contents !== 'undefined' && data.contents.length > 0) { %>
  <% for( let index = 0; index < data.contents.length; index++ ) { %>
  <% const scriptPath = `./${data.contents[index].id}/main.js` %>
  <script src="<%= scriptPath %>"></script>
  <% } %>
  <% } else { %>
  <script src="./main.js"></script>
  <% } %>
</body>

</html>
